body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: #e8eaed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* confirm 모달 */
.plog-modal-confirm {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  align-items: center;
  justify-content: center;
}

.plog-modal-confirm-inner {
  width: 300px;
  height: 150px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* confirm 모달 제목 */
.plog-modal-confirm-title {
  margin: 15px 0;
  font-size: 18px;
}

/* confirm 모달 바디 */
.plog-modal-confirm-body {
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

/* confirm 모달 버튼 */
.plog-modal-confirm-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}
.plog-modal-confirm-btn:hover {
  background: #000;
  color: #fff;
  box-sizing: border-box;
}
